<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>add user</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CreditApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'adduser' %}">Add User</a></li>

    </ul>
  </div>
  </nav>

  <!------ Include the above in your HEAD tag ---------->

  <div class="container">

      <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">Sign Up</div>

              </div>
              <div class="panel-body" >


                      {% if request.GET.auth1 %}
                <p class="text-center" style="color:red; font-size:25px;">username exists</p>
                {% endif %}
                      <form  class="form-horizontal" method="post"  action="{% url 'submituser' %}">

                            {% csrf_token %}


                          <div id="div_id_email" class="form-group required">
                              <label for="id_email" class="control-label col-md-4  requiredField"> E-mail<span class="asteriskField">*</span> </label>
                              <div class="controls col-md-8 ">
                                  <input class="input-md emailinput form-control" id="id_email" name="email" placeholder="Your current email address" style="margin-bottom: 10px" type="email" required/>
                              </div>
                          </div>


                          <div id="div_id_name" class="form-group required">
                              <label for="id_name" class="control-label col-md-4  requiredField"> full name<span class="asteriskField">*</span> </label>
                              <div class="controls col-md-8 ">
                                  <input class="input-md textinput textInput form-control" id="id_name" name="name" placeholder="Your Frist name and Last name" style="margin-bottom: 10px" type="text" required/>
                              </div>
                          </div>
                          <div id="div_id_gender" class="form-group required">
                              <label for="id_gender"  class="control-label col-md-4  requiredField"> Gender<span class="asteriskField">*</span> </label>
                              <div class="controls col-md-8 "  style="margin-bottom: 10px" >
                                   <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_1" value="M"  style="margin-bottom: 10px" checked>Male</label>
                                   <label class="radio-inline"> <input type="radio" name="gender" id="id_gender_2" value="F"  style="margin-bottom: 10px">Female </label>
                              </div>
                          </div>

                          <div id="div_id_number" class="form-group required">
                               <label for="id_number" class="control-label col-md-4  requiredField"> contact number<span class="asteriskField">*</span> </label>
                               <div class="controls col-md-8 ">
                                   <input class="input-md textinput textInput form-control" id="id_number" name="number" placeholder="provide your number" style="margin-bottom: 10px" type="text" required/>
                              </div>
                          </div>


                          <div class="form-group">
                              <div class="aab controls col-md-4 "></div>
                              <div class="controls col-md-8 ">
                                  <input type="submit" name="Signup" value="Signup" class="btn btn-primary btn btn-info" id="submit-id-signup" />

                              </div>
                          </div>

                      </form>


              </div>
          </div>
      </div>
  </div>






  </div>



</body>
</html>
