<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style media="screen">
  h4{
    display:inline;
  }
</style>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CreditApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="{% url 'adduser' %}">Add User</a></li>
    
    </ul>
  </div>
</nav>



<div class="container">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>Credits</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
        {% for users in user %}
      <tr>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
        <td>{{users.credit}}</td>
        <td>
        <form class="" action="{% url 'userpage' %}" method="post">
           {% csrf_token %}
          <input type="hidden" name="email" value="{{users.email}}">
        <button type="submit" class="btn btn-success" >View</button>
        </form>
        </td>
      </tr>
        {% endfor %}

    </tbody>
  </table>
</div>



</body>
</html>
