<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <title>userpage</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style media="screen">
  h4{
    display:inline;
  }
</style>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CreditApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'adduser' %}">Add User</a></li>

    </ul>
  </div>
</nav>

 <h4 style="margin-left: 500px;" >Welcome {{user.name}}</h4>

<p class="text-center" style="color:red; font-size:25px;">{{lesscr}}</p>

<div class="container">

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Transfer Credits</div>

            </div>
            <div class="panel-body" >



                    <form  class="form-horizontal" method="post"  action="{% url 'transfer' %}">

                          {% csrf_token %}

                          <div id="div_id_name" class="form-group required">
                              <label for="id_name" class="control-label col-md-4  requiredField"> full name<span class="asteriskField">*</span> </label>
                              <div class="controls col-md-8 ">

                                  <select class="form-control" name="name">
                                      {% for u in all %}


                      <option value="{{u.name}}">{{u.name}}</option>




                                    {% endfor %}
                                  </select>
                              </div>
                          </div>

                          <div id="div_id_number" class="form-group required">
                               <label for="id_number" class="control-label col-md-4  requiredField"> available credits<span class="asteriskField">*</span> </label>
                               <div class="controls col-md-8 ">
                                   <input class="input-md textinput textInput form-control" id="id_number" name="number" value="{{user.credit}}" style="margin-bottom: 10px" type="text" readonly/>
                              </div>
                          </div>



                        <div id="div_id_number" class="form-group required">
                             <label for="id_number" class="control-label col-md-4  requiredField">credits<span class="asteriskField">*</span> </label>
                             <div class="controls col-md-8 ">
                                 <input class="input-md textinput textInput form-control" id="id_number" name="credits" placeholder="credits to transfer" style="margin-bottom: 10px" type="number" min="1" />
                            </div>
                        </div>
<input type="hidden" name="email" value="{{user.email}}">

                        <div class="form-group">
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">

                                <input type="submit" name="" value="Transfer" class="btn btn-primary btn btn-info" id="submit-id-signup" />

                            </div>
                        </div>

                    </form>


            </div>
            </div>
            </div>



<div class="container row">
<div class="col-sm-5">


  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Name</th>

        <th>Credits Recevied</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        {% for r in tr %}
    <tr>
      <td>{{r.name}}</td>
      <td>{{r.credit}}</td>
      <td>{{r.date}}</td>
    </tr>
        {% endfor %}

    </tbody>
  </table>
  </div>
  <div class="col-sm-5">


  <table class="table table-hover ">
    <thead>
      <tr>
        <th>Name</th>

        <th>Credits Transfered</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        {% for s in ts %}
    <tr>
      <td>{{s.received}}</td>
      <td>{{s.credit}}</td>
      <td>{{s.date}}</td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
    </div>
</div>



</body>
</html>
